.contact-me-co {
    height: 100vh;
    position: relative;
}

.contact-me-bg {
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #f4f1de;
}

.contact-me-info-icon {
    margin: 30px 30px 0 0;
    color: #81b29a
}

.contact-me-title {
    font-size: 60px;
    width: 80%;
    font-weight: bold;
}

.contact-me-wrapper {
    padding: 50px;
    display: flex;
}

.contact-me-info-item {
    font-size: 19px;
}

form {
    margin: 200px 0 0 0;
    width: 100%;
}

textarea {
    margin: 0 0 20px 0;
    width: 100%;
    font-size: 19px;
}

input {
    border: none;
    font-size: 19px;
    width: 60%;
    margin: 20px 30px 20px 0;
    border-bottom: 1px solid #000;
}

.contact-me-email {
    margin: 20px 20px 20px 20px;
    flex: 1;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: left;
}

.contact-me-info {
    text-align: left;
    justify-content: left;
    flex: 1;
    font-family: 'Roboto'
}

button.contact-me-email-form {
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #81b29a;
    border: none;
    color: #FFF;
    box-shadow: none;
}

@media screen and (max-width: 700px) {
    .contact-me-title {
        font-size: 26px;
        width: 100%;
    }

    .contact-me-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .contact-me-info-item {
        font-size: 14px;
    }

    .contact-me-email {
        margin: 0 0 20px 0;
    }

    form {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-height: 400px) {
    .contact-me-title {
        font-size: 26px;
        width: 100%;
    }

    form {
        margin: 60px 0 0 0;
    }
}