.product-container {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.p-container-header {
    font-family: 'Quicksand';
}

.p-continer-header-title {
    font-weight: bold;
    font-size: 64px;
}

.p-list {
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .p-continer-header-title {
        font-size: 26px;
    }

    .product-container {
        padding: 10px 20px;
    }
}