.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100vh;
    background-color: #050518;
}

.profile-parent {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #F4F1DE;
}

:where(.cm) {
    transition: 0.6s;
    margin: 0 15px 0 0px;
    color: #F4F1DE;
}

:where(.cm:hover) {
    transition: 0.6s;
    color: #E07A5F;
}

.profile-details-name {
    font-size: 24px;
    color: #F4F1DE;
    font-family: Roboto, sans-serif;
}

.profile-details-role {
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-details-role h1 {
    width: 100%;
    font-size: 24px;
    font-family: 'Poppins';
    color: white;
    font-weight: bold;
}

.primary-text {
    font-size: 40px;
    color: white;
}

.profile-rol-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: Roboto, sans-serif;
}

.profile-options .btn-outline-info {
    transition: 0.6s;
    background-color: transparent;
    color: #FFF;
    border-color: #E07A5F;
   font-family: 'Poppins';
   border-radius: 20px;
}

.profile-options:hover .btn-outline-info {
    background-color: #E07A5F;
    transition: width 0.6s;
}

.profile-picture {
    margin: 0 0 0 100px;
    align-items: center;
    justify-content: left;
    box-shadow:0cm;
    display: flex;
    position: relative;
    border-radius: 50%;
    flex: 1;
    height: 100%;

}

.profile-picture-background {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.6s;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    background-image: url('../../assets/Profile-Picture.jpg');
  padding: 10px;
  box-shadow: 90px 0px white;
    background-size: cover;
}

.profile-picture-background:hover {
    position: relative;
    display: flex;
    transition: 0.6s;
    justify-content: left;
    height: 500px;
    width: 500px;
  box-shadow: none;

}

.primary-text-bold {
    font-family: 'Quicksand', serif;
    font-weight: bold;
    font-size: 64px;
    color: #F2CC8F;
}

.slide {
    animation-name: down;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    bottom: 20px;
    color: white;
    justify-content: center;
    position: absolute;
}

@keyframes down {
    0% {transform: translate(0px,0px);}
    50% {transform: translate(0px,10px);}
    100% {transform: translate(0px,0px);}
  }

