.about-me {
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
}

.about-me-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-me-right {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: "Poppins";
}

.about-me-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
}

.background {
  background-image: url("../../assets/rehearsal-pic.JPG");
  border: white;
  border-width: 10px;
  border-style: solid;
  background-size: cover;
  position: relative;
  transition: 0.6s;
  opacity: 80%;
}

.background:hover {
  border-width: 0px;
  opacity: 100%;
  transform: translate(-10px, -10px);
  transition: 0.6s;
}

.about-me-card.image-frame {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #f2cc8f;
}

.icon {
  color: #81b29a;
}

.about-me-header {
  font-size: 24px;
  font-weight: bold;
}

.about-me-desc {
  font-size: 19px;
  margin-top: 15px;
  text-align: center;
}

.md {
  margin: 15px 0 0 0;
}

.main-description-box {
  margin: 0 10px 20px 0;
  background-color: #f4f1de;
  border-radius: 50px 50px 0 0;
  font-weight: 100;
  transition: 0.6s;
}

.about-me-desc .main-description-box:hover {
  font-size: 24px;
  font-weight: bold;
  transition: 0.6s;
  background-color: #f2cc8f;
  color: #fff;
}

.main-description {
  padding: 0 0 10px 0;
}

.skill-set {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.skill-years {
  color: #fff;
  flex: 1;
  border-radius: 50px 0 50px 50px;
  margin: 10px 10px 0 0;
  background-color: #81b29a;
}

.skill-years-int .skill-years-measure {
  font-size: 19px;
}

.skill-backend {
  flex: 1;
  border-radius: 0 50px 50px 50px;
  margin: 10px 10px 0 0;
  background-color: #f4f1de;
}

.fa-mug-hot,
.fa-cloud {
  margin: 20px 0 0 0;
}

.springboot-set,
.aks {
  margin: 20px 0 0 0;
}

.skill-devops {
  flex: 1;
  background-color: #f4f1de;
  border-radius: 0 50px 50px 50px;
  margin: 10px 10px 0 0;
}

.about-me-desc .skill-set .skill-set-wrapper:hover {
  transition: 0.6s;
  background-color: #f2cc8f;
  color: #fff;
}

.skill-set .skill-descrription {
  padding: 10px;
}

.skill-set .skill-set-wrapper {
  height: 100%;
  transition: 0.6s;
}

.skill-years-int {
  padding: 10px 10px;
  font-size: 64px;
}

@media screen and (max-width: 900px) {
  .about-me {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .about-me-card.image-frame {
    display: none;
  }

  .background {
    width: 60vw;
    background-size:cover;
  }

  .about-me-right {
    text-align: center;
  }

  .main-description-box {
    width: 100vw;
    height: 120px;
  }

  .skill-set {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0 10px 0 10px;
    align-items: center;
    justify-content: space-around;
  }

  .skill-years-int {
    font-size: 40px;
  }
}

@media screen and (max-height: 500px) {
  .about-me {
    height: 180vh;
  }

  .skill-years-int {
    font-size: 40px;
  }
}